.main-input {
    background-color: lightgray;
    width: 15rem;
    height: 2rem;
    border-radius: 0.4rem;
    padding: 0.3rem;
    border-color: rgba(0, 255, 159, 0.7);
  }
  
  .submit {
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.7rem;
    background-color: rgba(0, 255, 159, 0.7);
    border-color: cornsilk;
    border-width: 0.17rem;
    font-weight: bolder;
    text-transform: uppercase;
  }